* {
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Inter", sans-serif;
}

body {
  min-width: 280px;
  margin: 0;
  background-color: #121212;
}

header {
  height: 30vh;
  background-image: url("/images/header.avif");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
header div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  width: 100%;
  height: 100%;
}
header div a {
  text-decoration: none;
  color: white;
  text-shadow: 0px 0px 1px black;
}
header div a span {
  font-weight: inherit;
  color: #c26b29;
}

main {
  position: relative;
  background: #121212;
  min-height: 70vh;
}
main .searchbar {
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  height: 30px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  border-radius: 6px;
  font-size: 0.7rem;
  background: #2E2E2F;
  box-shadow: 0px 2px 5px black;
}
main .searchbar label {
  padding: 0 0.8em;
  color: #A5A5A5;
}
main .searchbar input {
  flex-grow: 2;
  font-size: inherit;
  border: none;
  height: 100%;
  background: #2E2E2F;
  color: #A5A5A5;
}
main .searchbar input:focus {
  outline: none;
}
main .searchbar button {
  cursor: pointer;
  width: 30%;
  height: 100%;
  font-size: inherit;
  border: none;
  background: #4B4B4B;
  color: #FFF;
  transition: all 2ms ease-in-out;
  border-radius: 0 6px 6px 0;
}
main .searchbar button:focus {
  outline: none;
}
main .searchbar button:active {
  background-color: #121212;
}
main div.def-ph {
  margin-top: 50%;
  transform: translateY(-50%);
}
main div.content {
  margin: 0 auto;
  min-height: 70vh;
  max-width: 90%;
}
main div.content div {
  text-align: center;
}
main div.content div i {
  color: #2E2E2F;
  font-size: 3rem;
}
main div.content div p {
  color: #2E2E2F;
  margin: 0.2em 0;
  font-weight: 700;
}
main div.content .space {
  height: 3vh;
}
main div.content .movie {
  border-bottom: 1px solid #4B4B4B;
  padding: 1.7em 0;
  display: grid;
  align-items: center;
  grid-template-areas: "poster . title title title rating" "poster . time genre genre button" "poster . plot plot plot plot";
  grid-template-columns: 1fr 10px 2fr 2fr;
  grid-template-rows: 40px 30px 1fr;
  text-align: left;
  color: white;
}
main div.content .movie .title, main div.content .movie .fa-star, main div.content .movie .rate,
main div.content .movie .watchtime, main div.content .movie .genre, main div.content .movie .film-btn,
main div.content .movie .film-btn > i, main div.content .movie .plot {
  color: inherit;
}
main div.content .movie .fa-star, main div.content .movie .rate,
main div.content .movie .watchtime, main div.content .movie .genre, main div.content .movie .film-btn,
main div.content .movie .film-btn > i, main div.content .movie .plot {
  font-size: 0.5rem;
}
main div.content .movie .poster {
  grid-area: poster;
  width: 100px;
}
main div.content .movie .title {
  padding-right: 0.6em;
  grid-area: title;
  font-size: 0.5rem;
  margin: 0;
}
main div.content .movie .fa-star {
  margin: 0 5px;
  grid-area: rating;
}
main div.content .movie .rate {
  margin: 0 2px;
  grid-area: rating;
  display: inline-block;
}
main div.content .movie .watchtime {
  grid-area: time;
  font-weight: 400;
}
main div.content .movie .genre {
  grid-area: genre;
  font-weight: 400;
}
main div.content .movie .film-btn {
  grid-area: button;
  width: 50px;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}
main div.content .movie .film-btn i {
  margin-right: 5px;
}
main div.content .movie .plot {
  max-width: 170px;
  font-weight: 300;
  grid-area: plot;
}

.active-tab {
  font-weight: 700;
  font-size: 1.3rem;
}

.inactive-tab {
  font-size: 0.7rem;
}/*# sourceMappingURL=style.css.map */