*{
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
}

body{
    min-width: 280px;
    margin: 0;
    background-color: #121212;
}

//header styling
header{
    height: 30vh;
    background-image: url('/images/header.avif');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    div{
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.7);
        position: absolute;
        width: 100%;
        height: 100%;
        a{
            text-decoration: none;
            color: white;
            text-shadow: 0px 0px 1px black;
            position: relative;
            span{
                font-weight: inherit;
                color: #C26B29FF;
            }
        }
        
    }
}
//main styling
main{
    position: relative;
    background: #121212;
    min-height: 70vh;
    

    .searchbar{
        position: absolute;
        top: -15px;
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
        max-width: 500px;
        height: 40px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        border-radius: 6px;
        background: #2E2E2F;
        box-shadow: 0px 2px 5px black;
        label{
            padding: 0 .8em;
            color: #A5A5A5;
        }
        input{
            font-size: .7rem;
            width: 70%;
            border: none;
            height: 100%;
            background: #2E2E2F;
            color:#A5A5A5;
        }
        input:focus{
            outline: none;
        }
        button{
            flex-grow: 1;
            cursor: pointer;
            width: 30%;
            height: 100%;
            font-size: .7rem;
            border: none;
            background: #4B4B4B;
            color: #FFF;
            transition: all 2ms ease-in-out;
            border-radius: 0 6px 6px 0;
        }
        button:hover{
            color: #c06b29;
        }
        button:focus{
            outline:none;
        }
        button:active{
            background-color: #121212;
        }
    }

    div.no-results{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: 60vh;
        p{
            color: white;
        }
    }
    div.content{
        margin: 0 auto;
        min-height: 70vh;
        max-width: 90%;
        padding-top: 2vh;
        
        div.def-ph{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            text-align: center;
            height: 60vh;
            i{
                color:#2E2E2F;
                font-size: 3rem;
            }
            p{
                color: #2E2E2F;
                margin: .2em 0;
                font-weight: 700;
            }
        }
        div.def-watchlist{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            color: #A5A5A5;
            text-align: center;
            height: 60vh;
            p{
                margin-top: 0;
                margin-bottom: .5em;
            }
            a{
                text-decoration: none;
                color: white;
                font-weight: 700;
                font-size: inherit;
            }
            a:hover{
                color: #c06b29;
            }
            i{
                margin: 0 .2em
            }
        }  
        .space{
            height: 3vh;
        }
        .movie{
            border-bottom: 1px solid #4B4B4B;
            padding: 1.7em 0;
            display: grid;
            align-items: center;
            grid-template-areas: 
            "poster . title title rating"
            "poster . time genre button"
            "poster . plot plot plot"
            ;
            grid-template-columns: 1fr 10px 2fr 2fr 1fr;
            grid-template-rows: 40px 30px 1fr;
            text-align: left;
            color: white;
            margin: 0 auto;
            max-width: 800px;

            .title, .fa-star, .rate,
            .watchtime, .genre, .film-btn,
            .film-btn>i, .plot{
                color: inherit;
            }
            .fa-star, .rate,
            .watchtime, .genre, .film-btn,
            .film-btn>i, .plot{
                font-size: .5rem;
            }
            .poster{
                grid-area: poster;
                width: 100px;
            }
            .title{
                padding-right: .6em;
                grid-area: title;
                font-size: .5rem;
                margin: 0;
            }
            .fa-star{
                margin: 0 5px;
                grid-area: rating;
            }
            .rate{
                margin: 0 2px;
                grid-area: rating;
                
                display: inline-block;
            }
            .watchtime{
                grid-area: time;  
                font-weight: 400;
            }
            .genre{
                grid-area: genre;
                font-weight: 400;
            }
            .film-btn{
                grid-area: button;
                width: 50px;
                padding: 0;
                background: none;
                border: none;
                cursor: pointer;
                i{
                    margin-right: 5px;
                    display: inline;
                }
                
            }
            .film-btn:hover{
                color: #c06b29;
            }
            .plot{
                max-width: 80%;
                font-weight: 300;
                grid-area: plot;
            }
        }
        .loading{
            display: block;
            width: 20%;
            max-width: 100px;
            margin: 0 auto;
            padding-top: 30%;
            transform: translateY(-50%);
        
        }
    } 
}

//utility classes
.active-tab{
    font-weight: 700;
    font-size: 1.3rem;
}
.inactive-tab{
    font-size: .8rem;
}

.hidden{
    display: none;
}

@media (min-width: 700px ){
    *{
        font-size: 25px;
    }
}


