*{
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
}

body{
    min-width: 280px;
    margin: 0;
}

//header styling
header{
    height: 30vh;
    background-image: url('/images/header.avif');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    div{
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.7);
        position: absolute;
        width: 100%;
        height: 100%;
        a{
            text-decoration: none;
            color: white;
            text-shadow: 0px 0px 1px black;
            span{
                font-weight: inherit;
                color: #C26B29FF;
            }
        }
    }
}
//main styling
main{
    position: relative;
    background: #121212;
    min-height: 70vh;
    .searchbar{
        position: absolute;
        top: -15px;
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
        height: 30px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        border-radius: 6px;
        font-size: .7rem;
        background: #2E2E2F;
        box-shadow: 0px 2px 5px black;
        label{
            padding: 0 .8em;
            color: #A5A5A5;
        }
       
        input{
            flex-grow: 2;
            font-size: inherit;
            border: none;
            height: 100%;
            background: #2E2E2F;
            color:#A5A5A5;
        }
        input:focus{
            outline: none;
        }
        button{
            cursor: pointer;
            width: 30%;
            height: 100%;
            font-size: inherit;
            border: none;
            background: #4B4B4B;
            color: #FFF;
            transition: all 2ms ease-in-out;
            border-radius: 0 6px 6px 0;
        }
        button:focus{
            outline:none;
        }
        button:active{
            background-color:   #121212;
        }
    }
    div.content{
        margin: 0 auto;
        min-height: 70vh;
        max-width: 90%;
        
        div{
            text-align: center;
            
            i{
                color:#2E2E2F;
                font-size: 3rem;
            }
            p{
                color: #2E2E2F;
                margin: .2em 0;
                font-weight: 700;
            }
        }
        .space{
            height: 3vh;
        }
        .movie{
            border-bottom: 1px solid #4B4B4B;
            padding: 1.7em 0;
            display: grid;
            align-items: center;
            grid-template-areas: 
            "poster . title title title rating"
            "poster . time genre genre button"
            "poster . plot plot plot plot"
            ;
            grid-template-columns: 1fr 10px 2fr 2fr;
            grid-template-rows: 40px 30px 1fr;
            text-align: left;
            color: white;

            .title, .fa-star, .rate,
            .watchtime, .genre, .film-btn,
            .film-btn>i, .plot{
                color: inherit;
            }
            .fa-star, .rate,
            .watchtime, .genre, .film-btn,
            .film-btn>i, .plot{
                font-size: .5rem;
            }
            .poster{
                grid-area: poster;
                width: 100px;
            }
            .title{
                padding-right: .6em;
                grid-area: title;
                font-size: .5rem;
                margin: 0;
            }
            .fa-star{
                margin: 0 5px;
                grid-area: rating;
            }
            .rate{
                margin: 0 2px;
                grid-area: rating;
                
                display: inline-block;
            }
            .watchtime{
                grid-area: time;  
                font-weight: 400;
            }
            .genre{
                grid-area: genre;
                font-weight: 400;
            }
            .film-btn{
                grid-area: button;
                width: 50px;
                padding: 0;
                background: none;
                border: none;
                cursor: pointer;
                i{
                    margin-right: 5px;
                }
            }
            .plot{
                max-width: 170px;
                font-weight: 300;
                grid-area: plot;
            }
        }
    } 
}

//utility classes
.active-tab{
    font-weight: 700;
    font-size: 1.3rem;
}
.inactive-tab{
    font-size: .7rem;
}